body{
    font-family: 'Merriweather', serif;

}
.common-color{
    #FF0000
}
/* Banner related style */

.banner-container{
    color: #FFF;
    text-align: center;   
}
.banner-greeting{
    font-size: 20px;
    font-weight: 400;
    padding: 170px 400px 0px 400px;
    
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    padding:0px 200px 150px 200px;
    margin-top: -20px;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Banner\ image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    margin: 50px 110px;
}
    /* Discount section related style */
    

section{
    text-align: center;
    font-family: Inter;
}
.dis-title{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 0px;
}
.dis-description{
    color: #F00;
    font-size: 24px;
    font-weight: 500; 
    margin-top: 30px; 
}
.dis-categories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: -20px;
}
/* party banner related style */
.party-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Vectorrr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    margin: 150px 110px;
  
}
.party-title{
    color: #FFF;
    font-family: Merriweather;
    text-align: left;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding: 60px 400px 0px 100px;
}
.party-description{
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    padding: 0px 400px 250px 100px;
    margin-top: -50px;
}
.btn-join{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    border-style: none;
}